/* Importando fonte Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* reugular 400, reugular italic, bold 700 */

/* Importando os resets */
@import url(./styles/reset.css);

/* Importando o estilo da section superinfo */
@import url(./styles/superinfo.css);

/* Importando o estilo da section menu */
@import url(./styles/menu.css);

/* Importando o estilo da section sobre */
@import url(./styles/sobre.css);

/* Importando o estilo da section produtos */
@import url(./styles/produtos.css);

/* Importando o estilo da section preco */
@import url(./styles/preco.css);

/* Importando o estilo da section de qualidade */
@import url(./styles/qualidade.css);

:root {

    --white: white;
    --blue: #2c70ff;
    --dark-blue: #122ab2;
    --paragraph-gray: #7c7c7c;
    --h2-gray: #a4a4a4;
    --produto-background-white: #f7f7f7;
    --purple-produto: #ae81ff;
    --pink-produto: #f9265e;
    --blue-produto: #66d9eb;
    --black: #222222;

}